{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>커피탄 리</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body>

<style type="text/css">
    .jumbotron_recog {
        background-image: url( {% static 'images/jumbotronRecog.jpg' %});
        background-size: cover;
        text-shadow: black 0.2em 0.2em 0.2em;
        color: white;
        height: 300px;
        padding: 6%;
    }

    .jumbotron_chart {
        background-image: url({% static 'images/jumbotronChart.jpg' %});
        background-size: cover;
        color: white;
        text-shadow: black 0.2em 0.2em 0.2em;
        height: 300px;
        padding: 6%;
    }
</style>

{% include 'nav.html' %}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item active in">

            <a class="nav-link" data-toggle="tab" href="#Recognize"
               style="color: black; font-size:15px; margin-top: 15px">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                인식
            </a>
        </li>

        <li class="nav-item in">
            <a class="nav-link" data-toggle="tab" href="#Statistic"
               style="color: black; font-size:15px; margin-top: 15px">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                통계
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="Recognize" style="width: 100%;">
            <div class="row">
                <div class="jumbotron_recog">
                    <h1 class="text-center">차량 인식 서비스</h1>
                    <p class="text-center">CCTV에 촬영된 차량 분류 및 재식별하는 프로그램입니다.</p>
                    <p class="text-center"><a class="btn btn-lg btn-primary" data-target="#recogModal"
                                              data-toggle="modal" onclick="setlayout();">서비스 시작하기</a></p>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in" id="Statistic" style="width: 100%;">
            <div class="row main">
                <div class="jumbotron_chart">
                    <h1 class="text-center">차량 식별 통계 서비스</h1>
                    <p class="text-center">식별된 차량의 통계를 그래프를 통해 보여줍니다.</p>
                    <p class="text-center"><a class="btn btn-lg btn-primary" data-target="#statisticModal"
                                              data-toggle="modal" onclick="setlayout();">서비스 시작하기</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-sm-4">
        <h4>시스템 목적</h4>
        <p>CCTV 상에서 찾고자 하는 차량을 딥러닝 기반 기술로 자동으로 재식별하여 대상이 되는 차량을 빠른 속도로 추적하여 범죄 수사나 차량 추적에 도움이 될 수 있음</p>
    </div>
    <div class="col-sm-4">
        <h4>프로그램 사용법</h4>
        <p>프로그램 사용법은 다음과 같은 순서로 진행합니다.</p>
    </div>
    <div class="col-sm-4">
        <h4>서비스</h4>
        <ol>
            <li>인식 서비스</li>
            <li>통계 서비스</li>
        </ol>
    </div>
</div>

<br>

<div class="row">
    <div class="modal" id="recogModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    차량 인식 서비스
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/recognition/" method="POST">
                    {% csrf_token %}
                    <div class="modal-body" style="width:550px;height:480px;text-align: center;">
                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;">시작 시간</span>
                            <input id="recognition_start_time" type="text" name="start_time" width="180"
                                   style="margin-bottom: 15px" readonly/>
                        </div>

                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;" style="margin-bottom: 15px">종료 시간</span>
                            <input id="recognition_end_time" type="text" name="end_time" width="180"
                                   style="margin-bottom: 15px" readonly/>
                        </div>

                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;" style="margin-bottom: 15px">위치</span>
                            <input id="recognition_location" name="location" width="180" value=""
                                   style="margin-bottom: 15px" readonly>
                        </div>

                        <div id="recognition_map" style="width:565px;height:350px;"></div>

                        <div class="btn-area">
                            <button id="btn" type="submit">제출</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="modal" id="statisticModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    인식 통계 서비스
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/statistic/" method="POST">
                    {% csrf_token %}
                    <div class="modal-body" style="width:550px;height:480px;text-align: center;">
                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;">시작 시간</span>
                            <input id="statistic_start_time" type="text" name="start_time" width="180"
                                   style="margin-bottom: 15px" readonly/>
                        </div>

                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;" style="margin-bottom: 15px">종료 시간</span>
                            <input id="statistic_end_time" type="text" name="end_time" width="180"
                                   style="margin-bottom: 15px" readonly/>
                        </div>

                        <div class="col-sm-4">
                            <span style="font-weight: bolder; font-size: 15px;" style="margin-bottom: 15px">위치</span>
                            <input id="statistic_location" name="location" width="180" value=""
                                   style="margin-bottom: 15px" readonly>
                        </div>

                        <div id="statistic_map" style="width:565px;height:350px;"></div>

                        <div class="btn-area">
                            <button id="btn" type="submit">제출</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <script>alert("{{ message }}")</script>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8a08365e71499493906a12ac8f92432"></script>
<script>

    var recognition_container = document.getElementById('recognition_map');
    var statistic_container = document.getElementById('statistic_map')

    var options = {
        center: new kakao.maps.LatLng(37.549341, 127.0742582),
        level: 3
    };

    var recognition_map = new kakao.maps.Map(recognition_container, options);
    var statistic_map = new kakao.maps.Map(statistic_container, options);

    function setlayout() {
        setTimeout(function () {
                recognition_map.relayout();
                statistic_map.relayout();
            }
            , 0);
    }

    var cctv_obj = "{{ cctv }}".replace(/&quot;/g, '"');
    var cctv_json = JSON.parse(cctv_obj);

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    var positions = [
        {% for i in count %}
            {
                title: cctv_json[{{i}}].fields.location,
                latlng: new kakao.maps.LatLng(cctv_json[{{i}}].fields.latitude, cctv_json[{{i}}].fields.longtitude)
            },
        {% endfor %}
    ];

    for (var i = 0; i < positions.length; i++) {

        var imageSize = new kakao.maps.Size(24, 35);

        // 마커를 생성합니다
        var recognition_marker = new kakao.maps.Marker({
            map: recognition_map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            clickable: true
        });

        var statistic_marker = new kakao.maps.Marker({
            map: statistic_map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            clickable: true
        });

        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].title // 인포윈도우에 표시할 내용
        });

        kakao.maps.event.addListener(recognition_marker, 'click', get_location(positions[i].title));
        kakao.maps.event.addListener(recognition_marker, 'mouseover', makeOverListener(recognition_map, recognition_marker, infowindow));
        kakao.maps.event.addListener(recognition_marker, 'mouseout', makeOutListener(infowindow));

        kakao.maps.event.addListener(statistic_marker, 'click', get_location(positions[i].title));
        kakao.maps.event.addListener(statistic_marker, 'mouseover', makeOverListener(statistic_map, statistic_marker, infowindow));
        kakao.maps.event.addListener(statistic_marker, 'mouseout', makeOutListener(infowindow));

    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }

    function get_location(info) {
        return function () {
            document.getElementById("recognition_location").value = info;
        };
    }

    function get_location(info) {
        return function () {
            document.getElementById("statistic_location").value = info;
        };
    }

    $(function () {
        $('#recognition_start_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });

    $(function () {
        $('#statistic_start_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });

    $(function () {
        $('#recognition_end_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });

    $(function () {
        $('#statistic_end_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });
</script>