{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content= "width = device-width", initial-scale="1">
    <title>Manager Page</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'nav.html' %}
<br>
    <div class="container">
        <div class="row" style="border-right: 1px solid gray;">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" style="height: 568px;">
                    <h3 style="text-align: center; margin-bottom: 25px">Menu</h3>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Modify" style="color: black; font-size:15px; margin-top: 15px">
                            CCTV 업로드</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Record" style="color: black; font-size:15px">
                            회원 정보 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Dismember" style="color: black; font-size:15px">
                            회원 탈퇴</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="Modify" style="width: 100%; height:568px;">
                        <div class="row main">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h3>회원 정보 수정</h3>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="Record" style="width: 100%; height:568px;">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h3>검색 기록 조회</h3>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade in" id="Dismember" style="width: 100%; height:568px;">
                        <div class="row main">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h3>회원 탈퇴</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}
</body>
</html>