<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <nav class="nav navbar-default">
			<div class="container-fluid">
				<div class="nav-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home:index' %}">커피탄 리</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home:index' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Home
                        </a></li>
						<li><a href="{% url 'recognition:recognition' %}">
                            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                            Service
                        </a></li>
					</ul>

                    <ul class="nav navbar-nav navbar-right">
						{% if user == None %}
                        <li><a href="{% url 'home:login' %}">
                            Login
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a></li>

						<li><a href="{% url 'home:register' %}">
                            Register
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a></li>

                        {% else %}
                            <li><a href="{% url 'home:mypage' %}">
                                '{{ user.name }}'의 정보
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a></li>

                            <li><a href="{% url 'home:logout' %}">
                                Logout
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </a></li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</nav>
