<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>차량 인식 통계 서비스</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

</head>


<body>

        {% include 'nav.html' %}
        <br>
{% if cctv %}
    <h1>{{ cctv }}</h1>
{% endif %}

<div class="container">
    <div class="row search-sec">
        <form action="{% url 'statistic:stat' %}" method="post">
            {% csrf_token %}
            <select name="cctv">
                <option>cctv1</option>
                <option>cctv2</option>
                <option>cctv3</option>
                <option>cctv4</option>
            </select>
            <input type="submit" name="제출">
            <!--	<img src="images/cctv.jpg" id="imagepreview" style="width: 100px;height: 100px;">  -->
        </form>
    </div>
</div>

<div class="container">
    <div class="col-sm-2">
        <a class="btn btn-dark" href="{% url 'recognition:recognition' %}" id="tab_button">
            <i class="fa fa-car fa-lg" style="margin-right: 5px;"></i> Recognition</a>
        <br>
        <a class="btn btn-dark" href="{% url 'statistic:statistic' %}" id="tab_button">
            <i class="fa fa-pie-chart fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
            <span style="margin-right: 15px;">Statistics</span></a>
    </div>
    <div class="col-sm-10" style="text-align:center">
        <div class="container">
            <div class="row" style="margin-top:10px; ">
                <div class="col-md-12">
            <dl>
              <dd class="percentage percentage-11"><span class="text">Hyundai : 11</span></dd>
              <dd class="percentage percentage-49"><span class="text">BMW : 49</span></dd>
              <dd class="percentage percentage-16"><span class="text">Kia : 16</span></dd>
              <dd class="percentage percentage-53"><span class="text">Volkswagen: 53</span></dd>
              <dd class="percentage percentage-97"><span class="text">Audi : 97</span></dd>
              <dd class="percentage percentage-62"><span class="text">SSangyong : 62</span></dd>
              <dd class="percentage percentage-62"><span class="text">Benz : 62</span></dd>
            </dl>

                </div>
            </div>
        </div>
    </div>
</div>

    <br>

        {% include 'footer.html' %}


</body>
</html>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
