<!doctype html>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>

      Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Titanic Survivors by Ticket Class'
      },
      xAxis: {
          categories: ['지나간 차'],
      },

      series: [
          {% for entry in dataset %}
          {
              name: '{{ entry.model }}',
              data: [{{ entry.something }}],
              color: '{{ loop.index }}'
          },
          {% if not forloop.last %}{% endif %}{% endfor %}
      ]
  });
</script>

</html>