.base_button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    cursor: pointer;
    margin-bottom: 28px;
    border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #000000;
    background: linear-gradient(to right, #eeeeee 0%, #ffffff 100%);
    text-align: center;
}
.base_button:hover,
.base_button:focus,
.base_button:active{
	color:#000000;
	border:1px solid #ccc;

}

.themeBtn {
    text-align: center;
    background: #fff;
    color: #000000 !important;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    height: 50px;
    padding: 5px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;

}
.themeBtn:hover,
.themeBtn:active{
    background: #ddd;
    color: #ffffff;
    box-shadow: 0 10px 25px -2px rgba(192, 192, 192, 0.7);
    text-decoration: none;
}