{% load static %}

<!DOCTYPE html>
<html>
    <head>

		<meta charset="URF-8">
		<meta name = "viewport" content= "width = device-width", initial-scale="1">
		<title>커피탄 리 : 관리자</title>
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    </head>
    <style>
        .nav-item > a:focus{
            color: red;
        }
        h3{
            text-align: center;
        }
        .box{
            background-color: #9d9d9d;
        }
    </style>
    <body>
    {% include 'nav.html' %}
<br>
    <div class="container-fluid">
        <div class="nav col-sm-2">
            <ul class="nav nav-tabs nav-stacked">
                <h3>Menu</h3>
                <li class="nav-item active in">
                    <a class="nav-link" data-toggle="tab" href="#tab-content-cctvManage" id="tab-cctvManage">
                        <i class="fas fa-video fa-lg"></i>&nbsp;CCTV 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#tab-content-userManage" id="tab-userManage" onclick="reaAllUser()">
                        <i class="fas fa-users fa-lg"></i>&nbsp;회원 관리</a>
                </li>
            </ul>
        </div>

        <div class="tab-content col-sm-8 col-sm-offset-1">
            <div class="tab-pane fade active in" id="tab-content-cctvManage">
                <h3>CCTV 관리</h3>
                <div class="box">
                    1
                </div>
            </div>
            <div class="tab-pane fade in" id="tab-content-userManage">
                <h3>회원 관리</h3>
                <div id = "user_list_box"></div>

            </div>
        </div>
    </div>

<br>
        {% include 'footer.html' %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <script>alert("{{ message }}")</script>
                {% endfor %}
            </ul>
        {% endif %}


    <script>
        function reaAllUser() {
            $.ajax({
                url: 'reaAllUser',
                type: 'get',
                dataType: 'json',
                success:function (data) {
                    $('#user_list_box').html('');
                    for(var i in data) {
                        $('#user_list_box').append('<li>' + '<a onclick=reaOneUser(id) id=9>'
                            + data[i].user + ' ' + data[i].name + '</a>' + '</li>');
                    }
                },
                error:function (xhr,error) {
                    alert("서버와의 통신에서 문제가 발생했습니다.");
                    console.error("error : " + error);
                }
            });
        }

        function reaOneUser(id) {

            $.ajax({
                url: 'rea',
                dataType: 'json',
                data:{
                  'id':id
                },
                type: 'get',
                success:function (data) {
                    $('#user_list_box').html('');
                    $('#user_list_box').append('<li>' + data[0].id + ' '
                        + data[0].name + ' ' + data[0].permission + '</li>');

                    $('#user_list_box').append('<li>' + '<button onclick="reaAllUser()">'
                        + '회원목록' + '</button>' + '</li>')
                },
                error:function (xhr,error) {
                     alert("서버와의 통신에서 문제가 발생했습니다.");
                    console.error("error : " + error);

                }
            });
        }
    </script>
	</body>
</html>