<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>커피탄 리 : 차량 인식</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<style>
    .textbox{
        width: 150px;
        height: 31px;
        text-align: center;
    }
</style>
<body>
{% include 'nav.html' %}
<br>
<div class="container">
    <div class="row search-sec" style="text-align: center;">
        <label>위치: </label>&nbsp;&nbsp;<input class="textbox" type="text" readonly placeholder="{{ date.location }}">&nbsp;&nbsp;
        <label>시작시간: </label>&nbsp;&nbsp;<input class="textbox" type="text" readonly placeholder="{{ date.start_time }}">&nbsp;&nbsp;
        <label>종료시간: </label>&nbsp;&nbsp;<input class="textbox" type="text" readonly placeholder="{{ date.end_time }}">&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="themeBtn" id="tab_button" style="width: 100px" data-target="#recogModal"
                                 data-toggle="modal" onclick="setlayout()">검색하기</a>
    </div>
</div>
<br>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <script>alert("{{ message }}")</script>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">

    <div class="col-lg-2 menu" style="text-align: center">
        <h3>MENU</h3>
        {% if cctv_log %}
            <div>
                <form action="{% url 'statistic:stat' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="start_time" value="{{ date.start_time }}">
                    <input type="hidden" name="end_time" value="{{ date.end_time }}">
                    <input type="hidden" name="location" value="{{ date.location }}">

                    <button class="themeBtn" id="tab_button" type="submit">
                        <i class="fa fa-pie-chart fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                        <span style="margin-right: 15px;">Go Statistics</span></button>

                </form>
            </div>
        {% else %}
            <a class="themeBtn" href="{% url 'statistic:statistic' %}" id="tab_button" style="color: black;">
                <i class="fa fa-pie-chart fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                <span style="margin-right: 15px;">Go Statistics</span></a>
        {% endif %}
    </div>

    {% if cctv_log %}
        <div class="col-lg-6" style="height: 500px;text-align: center;position: relative">
            <video id="video" controls onplay="startAlert()" onpause="stopAlert()">
                <source src="{% static 'videos/cctv1.mp4' %}">
            </video>
        </div>
        <div id="car_list_box" class="col-lg-4 menu"
             style="text-align:center; height: 500px;overflow: scroll;">
        </div>
    {% else %}
        <div class="col-lg-10" style="height: 500px;text-align: center;position: relative;">
            <div id="page1">
                <button id="btn_page2" class="btn" onclick="page2_show()"
                        style="position: absolute;right: 0px;width:50%; height: 100%;opacity: 0%;background-color: black">다음
                </button>
                <img style="width: auto;height: auto;max-width: 100%;max-height: 470px;" src="{% static 'images/recog_menual1.png' %}">
            </div>
            <div id="page2" style="display: none;">
                <button id="btn_page1" class="btn" onclick="page1_show()"
                        style="position: absolute;left: 0px;width:50%; height: 100%;opacity: 0%">이전
                </button>
                <button id="btn_page3" class="btn" onclick="page3_show()"
                        style="position: absolute;right: 0px;width:50%; height: 100%;opacity: 0%">다음
                </button>
                <img style="width: auto;height: auto;max-width: 100%;max-height: 470px;" src="{% static 'images/recog_menual2.png' %}">
            </div>
            <div id="page3" style="display: none">
                <button id="btn_page2" class="btn" onclick="page2_show()"
                        style="position: absolute;left: 0px; width:50%; height: 100%;opacity: 0%">이전
                </button>
                <img style="width: auto;height: auto;max-width: 100%;max-height: 470px;" src="{% static 'images/recog_menual3.png' %}">
            </div>
            <div style="position: absolute;left:0px;bottom:0px;width:100%;">
                <input class = radiobtn id="radio_page1" type="radio" name="page" value="1" checked="checked" onclick="page1_show()">
                <input class = radiobtn id="radio_page2" type="radio" name="page" value="2" onclick="page2_show()">
                <input class = radiobtn id="radio_page3" type="radio" name="page" value="3" onclick="page3_show()">

                <script>
                    page1 = document.getElementById("page1");
                    page2 = document.getElementById("page2");
                    page3 = document.getElementById("page3");

                    function page1_show() {
                        page2.style.display = "none";
                        page3.style.display = "none";

                        $('#radio_page1').prop('checked', true);
                        page1.style.display = "block";
                    }

                    function page2_show() {
                        page1.style.display = "none";
                        page3.style.display = "none";


                        $('#radio_page2').prop('checked', true);
                        page2.style.display = "block";
                    }

                    function page3_show() {
                        page1.style.display = "none";
                        page2.style.display = "none";

                        $('#radio_page3').prop('checked', true);
                        page3.style.display = "block";
                    }
                </script>
            </div>
        </div>
    {% endif %}


</div>

<br>
{% include 'recog_modal.html' %}
{% include 'footer.html' %}

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8a08365e71499493906a12ac8f92432"></script>
<script>

    {% if cctv_log %}
        startAlert = function () {
            var video = document.getElementById("video");
            video_time_sec = parseInt(video.currentTime.toFixed(0)) % 60;
            video_time_min = parseInt(parseInt(video.currentTime.toFixed(0)) / 60);
            x = {{ cctv_log.0.appearance_time.second }} +video_time_sec;
            y = {{ cctv_log.0.appearance_time.minute }} +video_time_min;

            if (x == {{ cctv_log.0.appearance_time.second }} && y =={{ cctv_log.0.appearance_time.minute }}) {
                var car_list = document.createElement("li");

                car_list.innerHTML = '{{ cctv_log.0.color }}' + ' ' + '{{ cctv_log.0.car_model.model }}' + ' ' + '{{ cctv_log.0.appearance_time }}'
                $('#car_list_box').prepend(car_list);

            }

            playAlert = setInterval(function () {
                var video = document.getElementById("video");
                video_time_sec = parseInt(video.currentTime.toFixed(0)) % 60;
                video_time_min = parseInt(parseInt(video.currentTime.toFixed(0)) / 60);
                x = {{ cctv_log.0.appearance_time.second }} +video_time_sec;
                y = {{ cctv_log.0.appearance_time.minute }} +video_time_min;

                {% for log in cctv_log %}

                    if (x == {{ log.appearance_time.second }} && y == {{ log.appearance_time.minute }}) {
                        var car_list = document.createElement("li");

                        car_list.innerHTML = car_list.innerHTML = '{{ log.color }}' + ' ' + '{{ log.car_model.model }}' + ' ' + '{{ log.appearance_time }}'

                        $('#car_list_box').prepend(car_list);

                    }
                {% endfor %}
            }, 1000);
        }

        stopAlert = function () {
            clearInterval(playAlert);
        }

    {% endif %}

    var recognition_container = document.getElementById('recognition_map');

    var options = {
        center: new kakao.maps.LatLng(37.549341, 127.0742582),
        level: 3
    };

    var recognition_map = new kakao.maps.Map(recognition_container, options);

    function setlayout() {
        setTimeout(function () {
                recognition_map.relayout();
            }
            , 0);
    }

    var cctv_obj = "{{ cctv }}".replace(/&quot;/g, '"');
    var cctv_json = JSON.parse(cctv_obj);

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    var positions = [
        {% for i in count %}
            {
                title: cctv_json[{{i}}].fields.location,
                latlng: new kakao.maps.LatLng(cctv_json[{{i}}].fields.latitude, cctv_json[{{i}}].fields.longtitude)
            },
        {% endfor %}
    ];

    for (var i = 0; i < positions.length; i++) {

        var imageSize = new kakao.maps.Size(24, 35);

        // 마커를 생성합니다
        var recognition_marker = new kakao.maps.Marker({
            map: recognition_map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            clickable: true
        });

        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].title // 인포윈도우에 표시할 내용
        });

        kakao.maps.event.addListener(recognition_marker, 'click', get_location(positions[i].title));
        kakao.maps.event.addListener(recognition_marker, 'mouseover', makeOverListener(recognition_map, recognition_marker, infowindow));
        kakao.maps.event.addListener(recognition_marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }

    function get_location(info) {
        return function () {
            document.getElementById("recognition_location").value = info;
        };
    }

    $(function () {
        $('#recognition_start_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });

    $(function () {
        $('#recognition_end_time').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            ignoreReadonly: true
        });
    });

</script>
</body>
</html>

