<!DOCTYPE html>
<html>
<head>
        {% load static %}
	<title>커피탄 리 : 차량 인식</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

</head>

<body>
        {% include 'nav.html' %}

        {% if cctv %}
          <h1>{{ cctv }}</h1>
        {% endif %}
        <br>

        <div class="container">
            <div class="row search-sec">
               <form action="{% url 'recognition:recog' %}" method="post">
                   {% csrf_token %}
                   <select name="cctv">
                       <option>cctv1</option>
                       <option>cctv2</option>
                       <option>cctv3</option>
                       <option>cctv4</option>
                   </select>
                   <input type="submit" name="제출">
               </form>
            </div>
        </div>

        <div class="container">

            <div class="col-sm-2">
                <a class="btn btn-dark active" href="{% url 'recognition:recognition' %}" id="tab_button">
                <i class="fa fa-car fa-lg" style="margin-right: 5px;"></i> Recognition</a>
                <br>
                <a class="btn btn-dark" href="{% url 'statistic:statistic' %}" id="tab_button">
                <i class="fa fa-pie-chart fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                <span style="margin-right: 15px;">Statistics</span></a>
            </div>

            <div class="col-sm-6">
                <video id="video" controls onplay="startAlert()" onpause="stopAlert()" >
                    <source src="{% static 'videos/minchan.mp4' %}">
                </video>
            </div>

            <div id="car_list_box"class="col-sm-4" style="text-align:center; height: 300px;">

            </div>
        </div>

        <br>

        {% include 'footer.html' %}

    <script>
        startAlert = function() {
            var video = document.getElementById("video");
                video_time_sec = parseInt(video.currentTime.toFixed(0))%60;
                video_time_min = parseInt(parseInt(video.currentTime.toFixed(0))/60);
                x = {{ cctv_log.0.appearance_time.second }} + video_time_sec;
                y = {{ cctv_log.0.appearance_time.minute }} + video_time_min;

                if(x=={{ cctv_log.0.appearance_time.second }}&&y=={{ cctv_log.0.appearance_time.minute }})
                {
                    var car_list = document.createElement("li");

                    car_list.innerHTML = '{{ cctv_log.0.color }}' + ' ' + '{{ cctv_log.0.car_model.model }}' + ' ' + '{{ cctv_log.0.appearance_time }}'
                    $('#car_list_box').append(car_list);

                }

            playAlert = setInterval(function() {
                var video = document.getElementById("video");
                video_time_sec = parseInt(video.currentTime.toFixed(0))%60;
                video_time_min = parseInt(parseInt(video.currentTime.toFixed(0))/60);
                x = {{ cctv_log.0.appearance_time.second }} + video_time_sec;
                y = {{ cctv_log.0.appearance_time.minute }} + video_time_min;

                {% for log in cctv_log %}

                if(x=={{ log.appearance_time.second }} && y == {{ log.appearance_time.minute }})
                {
                    var car_list = document.createElement("li");

                    car_list.innerHTML = car_list.innerHTML = '{{ log.color }}' + ' ' + '{{ log.car_model.model }}' + ' ' + '{{ log.appearance_time }}'

                    $('#car_list_box').append(car_list);

                }
                {% endfor %}
            }, 1000);
        };
        stopAlert = function() {

           clearInterval(playAlert);

        };
    </script>
</body>
</html>

