<!DOCTYPE html>
<html>
<head>
        {% load static %}
	<title>차량 인식 통계 서비스</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

</head>


<body>
        {% include 'nav.html' %}

        {% if cctv %}
          <h1>{{ cctv }}</h1>
        {% endif %}
        <br>

        <div class="container">
            <div class="row search-sec">
               <form action="{% url 'recognition:recog' %}" method="post">
                   {% csrf_token %}
                   <select name="cctv">
                       <option>cctv1</option>
                       <option>cctv2</option>
                       <option>cctv3</option>
                       <option>cctv4</option>
                   </select>
                   <input type="submit" name="제출">
               </form>
            </div>
        </div>

        <div class="container">

            <div class="col-sm-2">
                <a class="btn btn-dark active" href="{% url 'recognition:recognition' %}" id="tab_button">
                <i class="fa fa-car fa-lg" style="margin-right: 5px;"></i> Recognition</a>
                <br>
                <a class="btn btn-dark" href="{% url 'statistic:statistic' %}" id="tab_button">
                <i class="fa fa-pie-chart fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                <span style="margin-right: 15px;">Statistics</span></a>
            </div>

            <div class="col-sm-6" style="text-align:center">

                    <iframe src="https://youtube.com/embed/QG5j9gksYFQ"
                    style="width: 600px; height: 370px; margin-top: 5px; display:inline;" framborder="0" allowfullscreen></iframe>

            </div>

        </div>

        <br>

        {% include 'footer.html' %}

</body>
</html>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
